 <!--Pie de pagina-->
 <footer id="footer" class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3">
              <div class="footer-menu">
                <img src="assets/img/Logo/main-logo.png" alt="logo">
                <p>Av. José Pardo 130, Miraflores</p>
                <p>Lima Perú</p>                  
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">MENÚ</h5>
                <ul class="menu-list list-unstyled text-uppercase">
                  <li class="menu-item pb-2">
                    <a href="#">Inicio</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Marcas</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Ofertas</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Ayuda</a>
                  </li>      
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">Nosotros</h5>
                <ul class="menu-list list-unstyled">
                  <li class="menu-item pb-2">
                    <a href="#">La Empresa</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Empleos</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Prensa</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">Descubre</h5>
                <ul class="menu-list list-unstyled">
                  <li class="menu-item pb-2">
                    <a href="#">Nuestro Equipo</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Nuestra Historia</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#">Lema de Marca</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu contact-item">
                <h5 class="widget-title text-uppercase pb-2">Redes sociales</h5>
                <div class="social-links">
                  <ul class="d-flex list-unstyled">
                    <li>
                      <a href="#">
                        <svg class="facebook">
                          <use xlink:href="#facebook" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/zapatitos.shoestore/?igshid=NTc4MTIwNjQ2YQ%3D%3D" target="_blank">
                        <svg class="instagram">
                          <use xlink:href="#instagram" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="twitter">
                          <use xlink:href="#twitter" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="linkedin">
                          <use xlink:href="#linkedin" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="youtube">
                          <use xlink:href="#youtube" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>
  <!-- Debajo de Pie de pagina-->
  <div id="footer-bottom">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 col-sm-6">            
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="copyright">
            <p><a>© Copyright 2023 Calzados Zapatitos.</a>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">            
        </div>
      </div>
    </div>
  </div>