<div id="content" role="main" style="padding-top: 8rem;">
    <div class="container">
      <div class="row" >
        <div class="col-md-7 mb-7 mb-md-0">
          <div class="pe-md-4">
            <div class="card-pinned">
              <div class="product-card position-relative">
                <div class="image-holder sale-container">
                  <img src="assets/img/63F4D7DB9FD95-Calzado-Dama-Cv-Roma.jpg" alt="product-item" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Col -->
  
        <div class="col-md-5">
          <!-- Heading -->
          <div class="mb-5">
            <h1 class="h2">Calzado Dama Cv-Roma Negro</h1>
            <!-- Estrellas -->
            <div class="rating">
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-fill">
                <use xlink:href="#star-fill"></use>
              </svg>
              <svg class="star star-half">
                <use xlink:href="#star-half"></use>
              </svg>
              <svg class="star star-empty">
                <use xlink:href="#star-empty"></use>
              </svg>
              <p>5 visitas</p>
            </div>
            <!-- End Estrellas-->
            <hr>
            <!-- Price -->
            <div class="mb-5">
              <span class="d-block mb-2">Precio:</span>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">S/140.00</h3>
                <span class="ms-2"><del>S/179.00</del></span>
              </div>
            </div>
            <!-- End Price -->
            <!-- Quantity -->
            <div class="quantity-counter mb-3">
              <div class="js-quantity-counter row align-items-center">
                <div class="col">
                  <span class="d-block small">Selecciona la catidad</span>
                  <input class="js-result form-control form-control-quantity-counter" type="text" value="1">
                </div>
                <!-- End Col -->
  
                <div class="col-auto">
                  <a class="js-minus btn btn-outline-secondary btn-xs btn-icon rounded-circle" href="javascript:;">
                    <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M0 1C0 0.723858 0.223858 0.5 0.5 0.5H7.5C7.77614 0.5 8 0.723858 8 1C8 1.27614 7.77614 1.5 7.5 1.5H0.5C0.223858 1.5 0 1.27614 0 1Z"
                        fill="currentColor"></path>
                    </svg>
                  </a>
                  <a class="js-plus btn btn-outline-secondary btn-xs btn-icon rounded-circle" href="javascript:;">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4 0C4.27614 0 4.5 0.223858 4.5 0.5V3.5H7.5C7.77614 3.5 8 3.72386 8 4C8 4.27614 7.77614 4.5 7.5 4.5H4.5V7.5C4.5 7.77614 4.27614 8 4 8C3.72386 8 3.5 7.77614 3.5 7.5V4.5H0.5C0.223858 4.5 0 4.27614 0 4C0 3.72386 0.223858 3.5 0.5 3.5H3.5V0.5C3.5 0.223858 3.72386 0 4 0Z"
                        fill="currentColor"></path>
                    </svg>
                  </a>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Quantity -->
  
            <!-- Talla-->
            <div class="mb-5">
              <select class="form-select" aria-label="Default select example">
                <option selected>Selecciones la talla</option>
                <option value="1">35</option>
                <option value="2">36</option>
                <option value="3">37</option>
                <option value="3">38</option>
              </select>
            </div>
            <!-- End Talla-->
  
            <hr>
            <p>Zapato De Vestir cuero peruano</p>
          </div>
          <!-- End Heading -->
          <div class="d-grid mb-4">
            <button type="button" class="btn btn-primary btntransition">Agregar al Carrito</button>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  
  <section id="smart-watches" class="product-store padding-medium position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Productos Similares</h2>
          <div class="btn-right">
            <a href="./ofertas" class="btn btn-medium btn-normal text-uppercase">Ver más</a>
          </div>
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src="assets/img/64B9BB337E186-Calzado-Dama-C-Vero.jpg" alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Agregar al carrito<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Calzado Damas Vestir C Vero Negro</a>
                  </h3>
                  <span class="item-price text-primary">S/.99.90</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src="assets/img/632E315328ECE.jpg" alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Agregar al carrito<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Calzado Dama Ch 9910 Negro</a>
                  </h3>
                  <span class="item-price text-primary">S/.79.90</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src="assets/img/636C1D5F17BD7.jpg" alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Agregar al carrito<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Calzado Sofia</a>
                  </h3>
                  <span class="item-price text-primary">S/.120</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src="assets/img/636C1D7B4B895.jpg" alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Agregar al carrito<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Calzado Dama VEstir Cv 356 Negro</a>
                  </h3>
                  <span class="item-price text-primary">S/.145</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src="assets/img/C34OFIRLPXSH2.jpg" alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Agregar al carrito<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Calzado Dama Casual Ch 5a10x Negro</a>
                  </h3>
                  <span class="item-price text-primary">S/.49.90</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <div class="container">
    <hr>
  </div>
  <!--Comentarios-->
  <div class="container">
    <h1>Comentarios</h1>
    <div class="row">
      <ul class="list-comment list-comment-divider mb-5" style="padding-left: 1rem;">
        <!-- Item -->
        <li class="list-comment-item">
          <div class="d-flex gap-1 mb-3">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
          </div>
  
          <!-- Media -->
          <div class="d-flex align-items-center mb-3">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle"
                src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671140.jpg" alt="Image Description">
            </div>
  
            <div class="flex-grow-1 ms-3">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Elizabeth Sanchez</h5>
                <span class="d-block small text-muted">3 de noviembre, 2023</span>
              </div>
            </div>
          </div>
          <!-- End Media -->
  
          <div class="mb-5">
            <p>¡Estoy emocionada con mi nueva compra de zapatos en línea! Encontré el par perfecto que complementa mi
              estilo y personalidad. La experiencia de compra fue fácil y conveniente, y estoy impresionada con la
              calidad y comodidad de mis nuevos zapatos. Definitivamente, volveré a comprar en este sitio.</p>
          </div>
  
          <div class="mb-2">
            <span class="text-dark fw-semibold">Christina</span>
            <span>- Compra Verificada</span>
          </div>
        </li>
        <!-- End Item -->
        <!-- Item -->
        <li class="list-comment-item">
          <div class="d-flex gap-1 mb-3">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
          </div>
  
          <!-- Media -->
          <div class="d-flex align-items-center mb-3">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle"
                src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671124.jpg" alt="Image Description">
            </div>
  
            <div class="flex-grow-1 ms-3">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Branny Ruiz</h5>
                <span class="d-block small text-muted">12 de octubre, 2023</span>
              </div>
            </div>
          </div>
          <!-- End Media -->
  
          <div class="mb-5">
            <p>Recientemente compré un par de adorables zapatos para mi hija en esta tienda en línea y estoy encantado
              con la experiencia. La selección de calzado infantil era diversa y llena de estilos encantadores. Encontré
              el par perfecto que no solo era hermoso sino también cómodo para mi pequeña. El proceso de compra fue
              fácil y la entrega llegó a tiempo. Estoy seguro de que mi hija va a amar sus nuevos zapatos. ¡Gracias por
              hacer que la compra en línea para mis seres queridos sea tan placentera y sin complicaciones!</p>
          </div>
  
          <div class="mb-2">
            <span class="text-dark fw-semibold">Branny</span>
            <span>- Compra Verificada</span>
          </div>
        </li>
        <!-- End Item -->
        <!-- Item -->
        <li class="list-comment-item">
          <div class="d-flex gap-1 mb-3">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
          </div>
  
          <!-- Media -->
          <div class="d-flex align-items-center mb-3">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle"
                src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671122.jpg" alt="Image Description">
            </div>
  
            <div class="flex-grow-1 ms-3">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Eduardo Vargas</h5>
                <span class="d-block small text-muted">18 de junio, 2023</span>
              </div>
            </div>
          </div>
          <!-- End Media -->
  
          <div class="mb-5">
            <p>Recientemente, compré un par de zapatos espectaculares para mi hermana en esta tienda en línea y no
              podría estar más contento. La gama de estilos disponibles era impresionante, lo que facilitó encontrar un
              par que coincidiera con su estilo único. La página web ofrecía descripciones detalladas y fotos de alta
              calidad, lo cual fue de gran ayuda al tomar mi decisión. El proceso de compra fue fácil, y la entrega fue
              rápida y sin problemas. Estoy emocionado de sorprender a mi hermana con estos elegantes zapatos.
              Definitivamente, recomendaré esta tienda a amigos y familiares. ¡Gracias por una experiencia de compra tan
              positiva!</p>
          </div>
  
          <div class="mb-2">
            <span class="text-dark fw-semibold">Eduardo</span>
            <span>- Compra Verificada</span>
          </div>
        </li>
        <!-- End Item -->
        <!-- Item -->
        <li class="list-comment-item">
          <div class="d-flex gap-1 mb-3">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
          </div>
  
          <!-- Media -->
          <div class="d-flex align-items-center mb-3">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle"
                src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671134.jpg" alt="Image Description">
            </div>
  
            <div class="flex-grow-1 ms-3">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Hugo Zuloaga</h5>
                <span class="d-block small text-muted">12 de junio, 2023</span>
              </div>
            </div>
          </div>
          <!-- End Media -->
  
          <div class="mb-5">
            <p>Tuve la maravillosa experiencia de comprar un par de zapatos para mi esposa en esta tienda en línea y
              estoy encantado. La variedad de estilos elegantes y de moda hizo que la elección fuera emocionante. La
              página web proporcionó detalles precisos sobre cada par, lo que facilitó encontrar el calzado perfecto
              para mi esposa. El proceso de compra fue rápido y sencillo, y la entrega llegó antes de lo esperado. Los
              zapatos son de alta calidad y se ven aún mejor en persona. Estoy emocionado de ver la reacción de mi
              esposa cuando los reciba. Gracias por hacer que esta experiencia de compra sea tan especial.
              ¡Definitivamente volveré a comprar aquí en el futuro!</p>
          </div>
  
          <div class="mb-2">
            <span class="text-dark fw-semibold">Hugo</span>
            <span>- Compra Verificada</span>
          </div>
        </li>
        <!-- End Item -->
        <!-- Item -->
        <li class="list-comment-item">
          <div class="d-flex gap-1 mb-3">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
            <img src="assets/img/star.svg" alt="Review rating" width="16">
          </div>
  
          <!-- Media -->
          <div class="d-flex align-items-center mb-3">
            <div class="flex-shrink-0">
              <img class="avatar avatar-sm avatar-circle"
                src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671159.jpg" alt="Image Description">
            </div>
  
            <div class="flex-grow-1 ms-3">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Onil Verano</h5>
                <span class="d-block small text-muted">5 de abril, 2023</span>
              </div>
            </div>
          </div>
          <!-- End Media -->
  
          <div class="mb-5">
            <p>Adquirí un par de zapatos para mi adorada abuelita en esta tienda en línea y estoy encantado con la
              experiencia. La variedad de opciones cómodas y elegantes para personas mayores fue impresionante. Encontré
              un par que combina perfectamente con su estilo y proporciona la comodidad que ella necesita. El proceso de
              compra fue fácil y la entrega fue rápida. Ver a mi abuelita feliz con sus nuevos zapatos hizo que cada
              momento valiera la pena. ¡Gracias por brindar una experiencia de compra tan positiva para nuestras
              generaciones más queridas!</p>
          </div>
  
          <div class="mb-2">
            <span class="text-dark fw-semibold">Onil</span>
            <span>- Compra Verificada</span>
          </div>
        </li>
        <!-- End Item -->
      </ul>
    </div>
    <hr>
  </div>

