<div id="content" role="main" style="padding-top: 8rem;">
  <div class="alert alert-success mt-3" *ngIf="mostrarMensaje">
    Producto agregado al carrito correctamente.
  </div>
  <div class="container" *ngIf="product">
    <div class="row">
      <div class="col-md-6">
        <div class="pe-md-4">
          <div class="card-pinned">
            <div class="product-card position-relative">
              <div class="image-holder sale-container">
                <img src="{{product.imageUrl}}" alt="product-item" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-md-6">
        <!-- Heading -->
        <div *ngIf="product" class="mb-5">
          <h1 class="h2">{{product.name}}</h1>
          <!-- Estrellas -->
          <div class="rating">
            <svg class="star star-fill">
              <use xlink:href="#star-fill"></use>
            </svg>
            <svg class="star star-fill">
              <use xlink:href="#star-fill"></use>
            </svg>
            <svg class="star star-fill">
              <use xlink:href="#star-fill"></use>
            </svg>
            <svg class="star star-half">
              <use xlink:href="#star-half"></use>
            </svg>
            <svg class="star star-empty">
              <use xlink:href="#star-empty"></use>
            </svg>
            <p>5 visitas</p>
          </div>
          <!-- End Estrellas-->
          <hr>
          <!-- Price -->
          <div class="mb-5">
            <span class="d-block mb-2">Precio:</span>
            <div class="d-flex align-items-center">
              <h3 class="mb-0">S/{{product.price}}</h3>
              <span class="ms-2"><del>S/{{product.discountedPrice}}</del></span>
            </div>
          </div>
          <!-- End Price -->
          <!-- Quantity -->
          <div class="quantity-counter mb-3">
            <div class="js-quantity-counter row align-items-center">
              <div class="col">
                <span class="d-block small">Selecciona la catidad</span>
                <div class="input-group">
                  <button class="btn btn-outline-secondary" type="button" (click)="decrement()">-</button>
                  <input type="number" class="form-control" [(ngModel)]="quantity" min="1">
                  <button class="btn btn-outline-secondary" type="button" (click)="increment()">+</button>
                </div>
                <!-- <input class="js-result form-control form-control-quantity-counter" type="text" value="1"> -->
              </div>
              <!-- End Col -->


              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Quantity -->

          <!-- Talla-->
          <div class="mb-5">
            <select class="form-select" aria-label="Default select example "  [(ngModel)]="selectedSize">
              <option selected>Selecciones la talla</option>
              <option *ngFor="let size of product.sizes" [value]="size">{{ size }}</option>
            </select>
          </div>
          <!-- End Talla-->

          <hr>
          <p>{{product.description}}</p>
        </div>
        <!-- End Heading -->
        <div class="d-grid mb-4">
          <button type="button" class="btn btn-primary btntransition" (click)="__agregar_producto(product.id)">Agregar
            al Carrito</button>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>


<div class="container">
  <hr>
</div>
<!--Comentarios-->
<div class="container">
  <h1>Comentarios</h1>
  <div class="row">
    <ul class="list-comment list-comment-divider mb-5" style="padding-left: 1rem;">
      <!-- Item -->
      <li class="list-comment-item">
        <div class="d-flex gap-1 mb-3">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
        </div>

        <!-- Media -->
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0">
            <img class="avatar avatar-sm avatar-circle"
              src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671140.jpg" alt="Image Description">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Elizabeth Sanchez</h5>
              <span class="d-block small text-muted">1 de julio, 2024</span>
            </div>
          </div>
        </div>
        <!-- End Media -->

        <div class="mb-5">
          <p>¡Estoy emocionada con mi nueva compra de zapatos en línea! Encontré el par perfecto que complementa mi
            estilo y personalidad. La experiencia de compra fue fácil y conveniente, y estoy impresionada con la
            calidad y comodidad de mis nuevos zapatos. Definitivamente, volveré a comprar en este sitio.</p>
        </div>

        <div class="mb-2">
          <span class="text-dark fw-semibold">Christina</span>
          <span>- Compra Verificada</span>
        </div>
      </li>
      <!-- End Item -->
      <!-- Item -->
      <li class="list-comment-item">
        <div class="d-flex gap-1 mb-3">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
        </div>

        <!-- Media -->
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0">
            <img class="avatar avatar-sm avatar-circle"
              src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671124.jpg" alt="Image Description">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Jean Velarde</h5>
              <span class="d-block small text-muted">12 de Enero, 2024</span>
            </div>
          </div>
        </div>
        <!-- End Media -->

        <div class="mb-5">
          <p>Recientemente compré un par de adorables zapatos para mi hija en esta tienda en línea y estoy encantado
            con la experiencia. La selección de calzado infantil era diversa y llena de estilos encantadores. Encontré
            el par perfecto que no solo era hermoso sino también cómodo para mi pequeña. El proceso de compra fue
            fácil y la entrega llegó a tiempo. Estoy seguro de que mi hija va a amar sus nuevos zapatos. ¡Gracias por
            hacer que la compra en línea para mis seres queridos sea tan placentera y sin complicaciones!</p>
        </div>

        <div class="mb-2">
          <span class="text-dark fw-semibold">Jean</span>
          <span>- Compra Verificada</span>
        </div>
      </li>
      <!-- End Item -->
      <!-- Item -->
      <li class="list-comment-item">
        <div class="d-flex gap-1 mb-3">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
        </div>

        <!-- Media -->
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0">
            <img class="avatar avatar-sm avatar-circle"
              src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671122.jpg" alt="Image Description">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">AAron Otero</h5>
              <span class="d-block small text-muted">18 de junio, 2024</span>
            </div>
          </div>
        </div>
        <!-- End Media -->

        <div class="mb-5">
          <p>Recientemente, compré un par de zapatos espectaculares para mi hermana en esta tienda en línea y no
            podría estar más contento. La gama de estilos disponibles era impresionante, lo que facilitó encontrar un
            par que coincidiera con su estilo único. La página web ofrecía descripciones detalladas y fotos de alta
            calidad, lo cual fue de gran ayuda al tomar mi decisión. El proceso de compra fue fácil, y la entrega fue
            rápida y sin problemas. Estoy emocionado de sorprender a mi hermana con estos elegantes zapatos.
            Definitivamente, recomendaré esta tienda a amigos y familiares. ¡Gracias por una experiencia de compra tan
            positiva!</p>
        </div>

        <div class="mb-2">
          <span class="text-dark fw-semibold">AAron</span>
          <span>- Compra Verificada</span>
        </div>
      </li>
      <!-- End Item -->
      <!-- Item -->
      <li class="list-comment-item">
        <div class="d-flex gap-1 mb-3">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
        </div>

        <!-- Media -->
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0">
            <img class="avatar avatar-sm avatar-circle"
              src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671134.jpg" alt="Image Description">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Hugo Zuloaga</h5>
              <span class="d-block small text-muted">12 de junio, 2024</span>
            </div>
          </div>
        </div>
        <!-- End Media -->

        <div class="mb-5">
          <p>Tuve la maravillosa experiencia de comprar un par de zapatos para mi esposa en esta tienda en línea y
            estoy encantado. La variedad de estilos elegantes y de moda hizo que la elección fuera emocionante. La
            página web proporcionó detalles precisos sobre cada par, lo que facilitó encontrar el calzado perfecto
            para mi esposa. El proceso de compra fue rápido y sencillo, y la entrega llegó antes de lo esperado. Los
            zapatos son de alta calidad y se ven aún mejor en persona. Estoy emocionado de ver la reacción de mi
            esposa cuando los reciba. Gracias por hacer que esta experiencia de compra sea tan especial.
            ¡Definitivamente volveré a comprar aquí en el futuro!</p>
        </div>

        <div class="mb-2">
          <span class="text-dark fw-semibold">Hugo</span>
          <span>- Compra Verificada</span>
        </div>
      </li>
      <!-- End Item -->
      <!-- Item -->
      <li class="list-comment-item">
        <div class="d-flex gap-1 mb-3">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
          <img src="assets/img/star.svg" alt="Review rating" width="16">
        </div>

        <!-- Media -->
        <div class="d-flex align-items-center mb-3">
          <div class="flex-shrink-0">
            <img class="avatar avatar-sm avatar-circle"
              src="assets/img/ilustracion-3d-avatar-o-perfil-humano_23-2150671159.jpg" alt="Image Description">
          </div>

          <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Juan Huauya</h5>
              <span class="d-block small text-muted">5 de diciembre, 2023</span>
            </div>
          </div>
        </div>
        <!-- End Media -->

        <div class="mb-5">
          <p>Adquirí un par de zapatos para mi adorada abuelita en esta tienda en línea y estoy encantado con la
            experiencia. La variedad de opciones cómodas y elegantes para personas mayores fue impresionante. Encontré
            un par que combina perfectamente con su estilo y proporciona la comodidad que ella necesita. El proceso de
            compra fue fácil y la entrega fue rápida. Ver a mi abuelita feliz con sus nuevos zapatos hizo que cada
            momento valiera la pena. ¡Gracias por brindar una experiencia de compra tan positiva para nuestras
            generaciones más queridas!</p>
        </div>

        <div class="mb-2">
          <span class="text-dark fw-semibold">Juan</span>
          <span>- Compra Verificada</span>
        </div>
      </li>
      <!-- End Item -->
    </ul>
  </div>
  <hr>
</div>