<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">

          <div class="container img-bananito">
            <a href="index.html">
              <img src="assets/img/cheque.png" style="width: 6rem" />
            </a>
          </div>

          <div class="row">

            <div class="col-sm-12 text-center">
              <strong style="font-size: 2rem;">
                Gracias!
              </strong>
              <br>
                <strong>
                  Su pedido se conpletó con éxito
                </strong>
            </div>

            

            <div class="col-sm-12 padding-small">
              <p style="text-align: justify;">
                Se ha enviado un recibo por correco electrónico, que incluye todos los detalles de su pedido, a la dirección de correo de su usuario.
                <br>
                Puede revisar la página de Mi cuenta en cualquier momento para comprobar el estado de su pedido.
              </p>
            </div>

            <div class="botton-container">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                <a href="/" style="color: white">Regresar al Inicio</a>
              </button>
              <br>
              <p>© Copyright 2023 Calzaditos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>