<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  <h1 class="display-2 text-uppercase text-dark pb-5">Muestra tu estilo, Hazlo Evidente</h1>
                  <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Comprar</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder">
                  <img class="banner" src="/assets/img/banner-image.png" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  <h1 class="display-2 text-uppercase text-dark pb-5">Muestra tu estilo, Hazlo Evidente</h1>
                  <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Comprar</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder">
                  <img class="banner" src="assets/img/banner-image2.png" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
      <svg class="chevron-left">
        <use xlink:href="#chevron-left" />
      </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
      <svg class="chevron-right">
        <use xlink:href="#chevron-right" />
      </svg>
    </div>
  </section>

  <!--Seccion productos destacados-->
  <section id="mobile-products" class="product-store position-relative padding-large">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Productos destacados</h2>
        </div>
        <div class="swiper product-swiper">
          <div class="swiper-wrapper">
            <div *ngFor="let p of products" class="swiper-slide">
              <div class="product-card position-relative">
                <div class="image-holder sale-container">
                  <img src="{{p.imageUrl}}" alt="product-item" class="img-fluid">
                  <div class="product-text">
                    <p>{{p.discount}}%</p>   
                  </div>
                </div>

                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <button class="btn btn-medium btn-black" (click)="__agregar_producto(p.id)">
                      Agregar al carro<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg>
                    </button>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3" href="detalle2.html">
                  <h3 class="card-title text-uppercase">
                    <a href="./detalle">{{p.name}}</a>
                  </h3>
                  <div>
                    <span class="item-price original-price">S/{{p.price}}</span>
                    <span class="item-price text-primary">S/{{p.discountedPrice}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>

  <!-- Seccion Suscribete -->
  <section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
          <div class="col-md-6 col-sm-12">
            <div class="display-header pe-3">
              <h2 class="display-7 text-uppercase text-light">Suscríbete</h2>
              <p>y tendrás 10% de descuento en tu primera compra, además recibe ofertas y promociones en cualquier momento</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <form class="subscription-form validate">
              <div class="input-group flex-wrap">
                <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Correo electrónico" required="">
                <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Suscribirse</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instagram" class="padding-large overflow-hidden no-padding-top">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-wrap">
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src="assets/img/insta-item11.jpg" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src="assets/img/insta-item12.jpg" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src="assets/img/insta-item13.jpg" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src="assets/img/insta-item14.jpg" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src="assets/img/insta-item15.jpg" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </section>